<% @restaurants.each do |restaurant| %>
  <%= link_to restaurant_path(restaurant), class:'text-decoration-none' do %>
      <div class="card p-3 m-3 border-0 rounded text-dark" >
        <h2><%= restaurant.name %></h2>
        <p><i class="fas fa-map-marker-alt"></i>  <%= restaurant.address %></p>
        <p><i class="fas fa-phone"></i>  <%= restaurant.phone_number %></p>
        <p><i class="fas fa-utensils"></i>  <%= restaurant.category.capitalize %></p>
        <p>Average rating: <%= restaurant.average_reviews %> - <%= restaurant.reviews.count %> reviews </p>
      </div>
  <% end %>
<% end %>

